<!-- complaints/templates/complaints/check_status.html -->
{% extends 'complaints/header.html' %}

{% block title %}check Status{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Status</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'complaints/styles.css' %}">
</head>
<body>
    <h1>Check Status</h1>
    <form method="post" action="{% url 'check_status' %}">
        {% csrf_token %}
        <label for="token">Enter Token Number:</label>
        <input type="text" name="token" required><br>

        <button type="submit">Check Status</button>
    </form>

    {% if status %}
        <p>Status: {{ status }}</p>
    {% endif %}
</body>
</html>
{% endblock %}